@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100&display=swap');

footer{
    font-family: 'Rubik';
    padding-left: 1%;
    padding-top: 4%;
    padding-bottom: 1%;
   margin-bottom: 20px;
}

footer.especial{
    font-family: 'Rubik';
    position: absolute;
    padding-left: 1%;
    margin-top: 96%;
    padding-top: 0;
    padding-bottom: 2%;
    margin-bottom: 20px;
}

footer .col-1, .col-2, .col-3{
    display: inline-block;
    padding: 250px 120px;
    padding-top: 10px;
}
footer h3{
    font-family: 'Spartan';
    font-weight: bold;
    color: #288fb4;
}
.col-1{
    border-right: 1px solid #9D7E79;
}
.col-2{
    border-right: 1px solid #9D7E79 ;
}
footer .col-1 p{
    color: black;
    position: absolute;
    margin-right: 68%;
    margin-left: -4%;
    margin-top: 2%;
    text-align: justify;
}
.col-2 a {
    margin-top: 2%;
    margin-left: -6%;
    text-decoration: none;
    color: black;
    position: absolute;
    display: inline-block;
}
#ins{
    padding-top: 40px;
}
#twi{
    padding-top: 80px;
}
#spo{
    padding-top: 120px;
}
#you{
    padding-top: 160px;
}
.fab {
    color: #288fb4;
    height: 50px;
    width: 50px;
    font-size: 22px;
}
#nc{
    color: #288fb4;
    height: 50px;
    width: 50px;
    font-size: 22px;
}
.col-3 a {
    margin-top: 2%;
    margin-left: -6%;
    text-decoration: none;
    color: black;
    position: absolute;
    display: inline-block;
}
#celu{
    padding-top: 40px;
}
#copyR{
    margin-top: 2%;
    margin-left: 33%;
    color: #288fb4;
}
@media (max-width: 1024px){


    
    footer .col-1 p{
        margin-right: 68%;
        margin-left: -3%;
        margin-top: 2%;
    }
    footer .col-1, .col-2, .col-3{
        padding:220px 60px;
        padding-top: 10px;
    }
    .col-2 a {
        margin-left: -3%;
    
    }
    .col-3 a {
        margin-top: 2%;
        margin-left: -3%;
    }
    #copyR{
        margin-left: 25%;
    }
}
@media (max-width: 768px){

    .col-1{
        border-right: none;
    }
    footer .col-1 p{
        margin-right: 32%;
        margin-left: -3%;
        margin-top: 2%;
    }
    footer .col-1{
        display: block;
        padding:220px 250px;
        padding-top: 10px;
    }
    footer .col-2{
        padding:220px 110px;
        padding-top: 10px;
    }
    .col-2 a {
        margin-left: -3%;
    
    }
    .col-3 a {
        margin-top: 2%;
        margin-left: -3%;
    }
    #copyR{
        margin-top: 2%;
        margin-left: 18%;
    }
}
@media (max-width: 425px){
    footer{
        margin-left: -10vw;
    }
    footer .col-1 h3{
        position: absolute;
       margin-left: -30%;
       margin-top: -8%;
    }
    footer .col-1 p{
        margin-right: 12%;
        margin-left: -32%;
        margin-top: 2%;
    }
    footer .col-1{
        display: block;
        padding:220px 250px;
        padding-top: 10px;
    }
    footer .col-2, .col-3{
        display: block;
        border-right: none;
        padding:220px 130px;
        padding-top: 10px;
    }
    #copyR{
        margin-left: 25%;
        margin-top: -20%;
    }
}
@media (max-width: 375px){
    footer .col-1 h3{
        position: absolute;
       margin-left: -38%;
       margin-top: -8%;
    }
    footer .col-2 h3{
        position: absolute;
        margin-left: -5%;
        margin-top: -8%;
    }
    footer .col-3 h3{
        position: absolute;
        margin-left: -5%;
        margin-top: -7%;
    }
    footer .col-1 p{
        margin-right:2%;
        margin-left: -42%;
        margin-top: 2%;
    }
    footer .col-1{
        display: block;
        padding:220px 250px;
        padding-top: 10px;
    }
    footer .col-2, .col-3{
        display: block;
        border-right: none;
        padding:220px 110px;
        padding-top: 10px;
    }
    #copyR{
        margin-left: 25%;
        margin-top: -30%;
    }
}
